<app-header></app-header>
<div class="showcase">
    <div class="container">
        <h2>Contact Us</h2>
        <div class="lower">
            <form class="contact">
                <input type="text" name="name" placeholder="Full Name*" required>
                <input type="email" name="email" placeholder="Email*" required>
                <textarea name="message" placeholder="Your Message*" rows="6" required></textarea>
                <input type="Submit" name="email" value="Submit" required>
            </form>
        </div>
    </div>
</div>