@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    overflow-x: hidden;
}
a{
    cursor: pointer;
}
body {
    font-size: 16px;
    color: #000;
    line-height: 1.6em;
    font-family: 'Montserrat', sans-serif;

}
.showcase {
    min-height: 85vh;
    display: flex;
    align-items: center;
    background-color: #ececec;
}

.container {
    width: 70vw;
    /* height: 80vh; */
    margin: 2rem auto;
    background: linear-gradient(122.95deg, #419FFB 21.26%, #36618A 80.37%, #83C9F4 99.56%);
    border-radius: 12px;
    overflow: hidden;
}

.container h2 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.container .lower {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
/* About */

.about-section {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.para p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.055em;
    color: #474747;
}

.abt-img img {
    width: 360px;
    padding: 2rem;
    border-radius: 44px;
}

/* About */

@media screen and (max-width:1150px) {
    .about-section {
       flex-direction: column-reverse;
    }

}

@media screen and (max-width:850px) {
    
    .container {
        width: 80vw;
    }
    
}

@media screen and (max-width:768px) {
    .container {
        width: 85vw;
    }
    
}